---
import MainLayout from "../../layouts/main-layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { kebabCase } from "../../utils/kebabCase";

const allProjects = await getCollection("projects");
console.log(allProjects);

const gradientTr = "bg-gradient-to-tr from-slate-100 via-slate-50 to-slate-100"
const gradientTl = "bg-gradient-to-tl from-slate-100 via-slate-50 to-slate-100"
---

<MainLayout title="Projects">
	<section class="flex flex-col gap-24 sm:gap-28 lg:gap-32 my-44 justify-start items-center w-full">
		{
			allProjects.map((project, cardIndex) => (
				<article class=`group w-11/12 lg:w-4/5 p-10 sm:p-7 lg:py-16 bg-gradient-to-b ${
								cardIndex % 2 ? gradientTr : gradientTl} rounded-[35px]`>
					<a href={`/projects${project.slug}`} class="no-underline">
						<div
							class={`flex flex-col items-center align-center lg:items-center lg:flex lg:flex-row justify-around ${
								cardIndex % 2 ? "lg:flex-row-reverse" : null
							} lg:h-80`}
						>
							<div class=`flex flex-col prose prose-base w-full h-full text-center lg:w-1/3 ${cardIndex % 2 ? "lg:text-start" : "lg:text-end"}`>
								<h1
									class="group-hover:underline underline-solid m-0"
									transition:name={kebabCase(project.data.title)}
								>
									{project.data.title}
								</h1>
								<small class="italic text-slate-400">
									{project.data.pubDate.toDateString()}
								</small>
								<p class="line-clamp-3 my-8">{project.data.description}</p>
								<small class="italic text-slate-400">
									{project.data.tags.map((x) => x + "\xa0\xa0\xa0\xa0")}
								</small>
							</div>
							<Image
								src={project.data.image.src}
								alt={project.data.image.alt}
								width={550}
								height={300}
								format="webp"
								quality="max"
								class="object-cover rounded-[35px]"
								transition:name={kebabCase(project.data.image.alt)}
							/>
						</div>
					</a>
				</article>
			))
		}
	</section>
</MainLayout>

<!-- <h1 class="text-center group-hover:underline underline-solid" transition:name="title"> 
							// transition:name="img"-->
